// colors
$app-color-primary: #FFCC15;
$app-color-success: #6AC068;
$app-color-danger: #E44C4C;
$app-color-text-default: #000000;
$app-color-text-white: #FFFFFF;
$app-color-text-gray: #6D6D6D;
$app-color-input-border-gray: rgba(109, 109, 109, 0.4);;

// font-weights
$app-font-weight-bold: 700;

// box-shadows
$app-box-shadow-sm: 0 2px 2px rgba(0, 0, 0, 0.1);
$app-box-shadow-lg: 0 8px 8px rgba(0, 0, 0, 0.1);

