@import '../../../../styles/variables';

:host {
  display: flex;
}

.shadow-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;

  .category {
    position: absolute;
    top: 2rem;
    right: 2rem;
    text-align: right;
  }

  .joke {
    width: 100%;

    .joke-text {
      text-align: center;
    }
  }

  .delete-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }
}
